		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


body {
	overflow: hidden;
	text-align: center;
	word-break: keep-all;
	margin: auto;
	font-family: GT-Pressura-Mono-Regular, Courier New, monospace;
}


h1 {
	font-size: 13pt;
	margin-top: 40px;
	font-weight: normal;
}

img {
	position: absolute;
	width: 300px;
}

.msg_1 {
	z-index: 100000000;
	top: 10%;
	left: 10%;
}

.msg_2 {
	bottom: 5%;
	left: 2%;
}

.msg_3 {
	bottom: 10%;
	right: 40%;
}

.msg_4 {
	top: 45%;
	right: 7%;
}

.msg_5 {
	top: 17%;
	right: 20%;
}


@media screen and (max-width: 704px) {
    
}